# Continuous Integration build configuration
#
# cribbed from sfackler
#  - https://github.com/sfackler/rust-postgres/blob/master/.travis.yml
#
# See also:
#  - http://www.rust-ci.org/p/390/artifactconf

language: rust
env:
  global:
    - secure: eaw/De/05/yXkxnoeXzHzmbD1KVN3+6W2M5NRQH7Yxm8ep2WD4DUpUpa/bQy5VzwgDoptVIfvKBliLQrbtKkEZZAFvIr3x0bm431hB5y6kj3wbWazsSJ7RU0mYksaraDdCnQXxsqmz/oWGGOFgy7+UAkeOktx60+x6/wqbYYKRk=
before_install:
 - echo "yes" | sudo add-apt-repository ppa:travis-ci/sqlite3
 - sudo apt-get update -qq
 - sudo apt-get install -qq libsqlite3-dev
script:
  - cargo build
  - cargo test
  - cargo doc --no-deps
after_script:
  - curl http://www.rust-ci.org/artifacts/put?t=$RUSTCI_TOKEN | sh


# In travis-ci-rust-example, it just has:
#   language: rust
# but this doesn't seem to suffice for building docs.
#  - https://github.com/travis-ci/travis-ci-rust-example/blob/master/.travis.yml

